[submodule "themes/PaperMod"]
  path = themes/PaperMod
  url = https://github.com/send2manoo/hugo-PaperMod.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/send2manoo/hugo-notice.git
[submodule "content"]
	path = content
	url = https://github.com/send2manoo/content.git
